.groups-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
}
.groups-opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
.zgroup_name_margin{
  margin-top: 10px;
  margin-bottom: 12px;
}
.groups-box {
  margin: 0 auto;
  width: 360px;
  position: relative;
  top: 50px;
  bottom: 50px;
  height: 85%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #00000066;
  -moz-box-shadow: 0 0 10px #00000066;
  box-shadow: 0 0 10px #00000066;
}

.groups-search {
  width: 100%;
  height: 50px;
  position: relative;
  padding: 10px;
}

.groups-box-main {
  height: 90%;
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.place-holder-center::placeholder {
  text-align: center;
}
.place-holder-center:focus{
  outline: none;
}